.options-wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .editor-wrapper {
    position: relative;
    flex: 1;
    min-height: 0;
    margin: 0 14px 14px;
    border: 1px solid @color-border;
    padding: 11px 0;
    box-sizing: border-box;
    transition: all 0.3s;
    &:hover, &.focus {
      border: 1px solid @color-primary-hover;
    }
    &.focus {
      box-shadow: 0 0 0 2px @control-outline;
    }
    .copy-btn {
      position: absolute;
      right: 14px;
      bottom: 10px;
    }
  }
}
